body {
  font-family: "Montserrat", sans-serif;
}

.title {
  font-size: 3.5rem;
  text-align: center;
}

.title-web {
  font-size: 2rem;
}

.text-normally {
  font-size: 1.4rem;
}

.color-primary {
  color: #aec855;
}

.color-secondary {
  color: #ef2945;
}

.bg-primary-custom {
  background-color: #aec855;
}

.ijo-2 {
  background-color: #99c44a;
}

.bg-tp {
  background-color: #aec85573;
}

.card-title {
  font-weight: bold;
}

.img-show {
  width: 40%;
}

.table {
  border-radius: 10px !important;
}

.fontbeda {
  font-size: 0.7rem;
}

/* .imgNext {
  width: 16rem;
  height: 16rem;
} */

@media screen and (max-width: 600px) {
  .medium-hide {
    display: none;
  }
  .img-show {
    width: 100%;
  }
  .fontbeda {
    font-size: 1rem;
  }
  /* .imgNext {
    width: 20rem;
    height: 20rem;
  } */
}
