body {
  font-family: "Montserrat", sans-serif;
}

.title {
  font-size: 3.5rem;
  text-align: center;
}

.title-web {
  font-size: 2rem;
}

.text-normally {
  font-size: 1.4rem;
}

.color-primary {
  color: #aec855;
}

.color-secondary {
  color: #ef2945;
}

.bg-primary-custom {
  background-color: #aec855;
}

.ijo-2 {
  background-color: #99c44a;
}

.bg-tp {
  background-color: #aec85573;
}

.card-title {
  font-weight: bold;
}

.img-show {
  width: 40%;
}

.table {
  border-radius: 10px !important;
}

.fontbeda {
  font-size: 0.7rem;
}

/* .imgNext {
  width: 16rem;
  height: 16rem;
} */
#testi {
  padding-right: 2rem;
  padding-left: 2rem;
}

section {
  background-color: white;
}

body {
  margin-left: 20rem;
  margin-right: 20rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: #aec85573;
}

#konsul {
  background-image: url("https://media.istockphoto.com/id/1160789077/id/foto/ahli-gizi-memberikan-konsultasi-kepada-pasien-dengan-buah-dan-sayuran-yang-sehat-nutrisi-yang.jpg?s=612x612&w=0&k=20&c=8EguDQixiwuDlqzzCDh8D8knaDbaXQLlIZblyunLih4=");
  background-size: cover; /* Menyesuaikan ukuran gambar dengan elemen */
  background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
  .medium-hide {
    display: none;
  }
  .img-show {
    width: 100%;
  }
  .fontbeda {
    font-size: 1rem;
  }

  body {
    margin: 0;
  }
  /* .imgNext {
    width: 20rem;
    height: 20rem;
  } */
  #testi {
    padding-right: 0;
    padding-left: 0;
  }
  .haha {
    line-height: 4rem;
  }
}
